html {
    font-family: "Montserrat", Regular;
    background: linear-gradient(to top left, #7DB82A, #B2DB42);
    height: 100vh;
}

body {
    font-size: 20px;
}

ul, li {
    padding: 0px;
    margin: 0px;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
    padding-top: 67px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo {
    margin-right: 120px;
}

.menu {
    display: flex;
}

.menu li a{
    font-size: 20px;
}

.menu li {
    margin-right: 42px;
    list-style-type: none;
}

.nav button {
    width: 248px; /* Ширина кнопки */
    height: 71px; /* Высота кнопки */
    border: none;
    border-radius: 35.5px; /* Закругление углов*/
    background: linear-gradient(to right, #FF6200, #FF1111);
    margin-left: auto;
    box-shadow: 0 4px 15px #ff421369;
    font-size: 20px;
    color: #F0FF98;
    font-weight: 800;
    cursor: pointer; /* Меняем курсор при наведении */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    gap: 7px; /* Расстояние между текстом и изображением */
}

.nav button:active {
    transform: scale(0.95); /* Уменьшение размера */
}

.nav {
    /*все элементы в nav на одной горизонали*/
    display: flex;
    /*Выравниваем элементы на одной горизонтали*/
    align-items: center;
}

.offer h1{
    font-size: 36px;
    font-weight: 900;
    margin: 132px 714px 0px 0px;
}

.offer p{
    font-size: 24px;
    margin: 45px 695px 0px 0px;
}
.offer button {
    margin-top: 35px;
    width: 370px; /* Ширина кнопки */
    height: 89px; /* Высота кнопки */
    border: none;
    border-radius: 35.5px; /* Закругление углов*/
    background: linear-gradient(to right, #FF6200, #FF1111);
    box-shadow: 0 4px 15px #ff421369;
    font-size: 24px;
    color: #F0FF98;
    font-weight: 800;
    cursor: pointer; /* Меняем курсор при наведении */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
  }
  
.dog {
    position: absolute;
    left: 768px;
    bottom: 0px;
  }

.backgraund {
    position: absolute;
    left: 675px;
    bottom: 0px;
  }

.button-bottom-right {
    border: none;
    width: 269px; /* Ширина прямоугольника */
    height: 243px; /* Высота прямоугольника */
    background-color: #C0DC4D; /* Цвет фона */
    border-radius: 28px; /* Закругление верхнего левого угла */
    box-shadow: 0 4px 50px #0000003b;
}

.button-bottom-left {
    border: none;
    width: 269px; /* Ширина прямоугольника */
    height: 243px; /* Высота прямоугольника */
    background-color: #C0DC4D; /* Цвет фона */
    border-radius: 28px; /* Закругление верхнего левого угла */
    box-shadow: 0 4px 50px #0000003b;
}

.knopki {
    display: flex;
    gap: 32px; /* Расстояние между кнопками */
    margin-top: 110px; /* Отступ сверху от ПОСМОТРЕТЬ ДРУЗ*/
}

.knopki p {
    font-size: 20px;
    font-weight: 800;
}

.go{
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Выравниваем элементы по горизонтали */
    height: 26px;
    width: 119px;
    margin: 21px 13px 15px 28px;
}
